/* Start Form */
@media (max-width: 760px) {
    .section{
      flex-direction: column;
      align-content: center;
      align-items: center;
    }

    .image{
      margin: 2rem;
    }

    img{
      width: 100%;
    }

    .section .col-6{
      width: 80%;
    }
  }  

.intro .jenis_kelamin{
  height: 10%;
  display: flex;
  align-items: center;
}

.intro .tanggalLahir{
  display: flex;
  align-items: center;
}

.intro .tanggalLahir h6{
  width: 45%;
}

@media (max-width:768px){
  .intro .tanggalLahir h6{
    width: 85%;
  } 
}

@media (min-width:1440px){
  .intro .tanggalLahir h6{
    width: 20%;
  } 
}

.intro .jenis_kelamin h6{
  margin: 0;
}

h1 {
  font-size: 1.5vw;
  margin-top: 2rem!important;

}

.image{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 760px) {
  img{
    width: 60%;
  }
}  
.section{
  flex-direction: column;
  align-items: center;
}

.section .col-8{
  display: flex;
  justify-content: center;
}

.intro {
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro .card{
  width: 100%;
  background-color: #E4E4E4;
  border-radius: 10px;
}

.form-outline input{
  margin: 1rem 0;
}

.form-outline textarea{
  margin: 1rem 0;
  height: 15rem;
}

.intro .btn{
  margin: 2rem;
  background-color: #28B446;
  border-color: #28B446!important;
}

.section2 button{
  width: 10rem;
  color: black;
  border-color: black;
  margin: 1rem;
}

.section2 .col-9{
  width: auto!important;
}
/* End Form */